

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="" width="30" height="24">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Learn</a>
                <a class="nav-link" href="#">Perform</a>
                <a class="nav-link" href="#">Connect</a>
                <a class="nav-link">Volunteer</a>
                <a class="nav-link" href="">Recruiting</a>
                <a class="nav-link" href="">More</a>
                <form class="d-flex" style="align-items: flex-end;">
                   <input id="byn" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit" >Search</button>
                    <p>{{displayinfo(byn)}}</p>
                </form>
            </div>
        </div>
    </div>
</nav>

<section class="container box">
    <h5>Employees List: </h5><br>
    <div class="list-group" *ngFor="let emp of employees; let i=index;">
        <button (click)="displayinfo(emp.id)" class="list-group-item">{{emp.name}}</button>
       
    </div>
</section>
<div class="add-new">
<button >Add member</button>
</div>
<div class="box2" > 
    
   <img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_960_720.jpg" style="width: 200px; height:150px;" alt="">
    <button class="">Edit</button>
    <button (click)="deleteinfo(employeedetails.id)">Delete</button>
    <ul>{{employeedetails.id}}</ul>
    <ul>{{employeedetails.name}}</ul>
    <ul>{{employeedetails.username}}</ul>
    <ul>{{employeedetails.email}}</ul>
    <ul>{{employeedetails.address.street}} {{employeedetails.address.suite}} {{employeedetails.address.city}} {{employeedetails.address.zipcode}} {{employeedetails.address.geo.lat}} {{employeedetails.address.geo.lng}}</ul>
    <ul>{{employeedetails.phone}}</ul>
    <ul>{{employeedetails.website}}</ul>
    <ul>{{employeedetails.company.name}} {{employeedetails.company.catchPhrase}} {{employeedetails.company.bs}}</ul>

</div>  